@model Straisimulator.ViewModels.HentEventLogResViewModel
@{
    ViewData["Title"] = "Hent kø-tid";
}

<!--- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --->

<script src="~/js/FileSaver.js"></script>
<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();
        exportTable.find('th').last().remove();
        exportTable.find('input').each(function (index, elem) { $(elem).remove(); });
        exportTable.find('a').each(function (index, elem) { $(elem).remove(); });

        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = "Køtid_i_ordre" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>


<div class="container-eventlogRes">
<h4>Køtid i ordre @Model.ProductionEventList.OrderId</h4>
    
<div class="flex">
    <form class="searchbar-2" asp-controller="Home" asp-action="HentEventLogRes" method="post">
        <input type="text" name="OrderId" placeholder="Søk på nytt ordrenr"required/><br/>
        <button type="submit"><img src="../wwwroot/images/search.png"> </button>
    </form>
        

    <button type="button" class="excel" onclick="fnExcelReport('dataTable1', 'data')">Last ned som Excel fil</button>
</div>

<table class="content-table-sum" id="table-hide">
    <thead>
    <tr>
        <th>Maskin</th>
        <th>Samlet cykeltid</th>
        <th>Samlet dødtid</th>
    </tr>
    </thead>
    <tr>
        <td>Brema</td>
        <td>@Model.ProductionEventList.TotalDrillingCykelTime</td>
        <td>@Model.ProductionEventList.TotalDrillingQue</td>
    </tr>
    <tr>
        <td>Evert 1</td>
        <td>@Model.ProductionEventList.TotalFitting1CykelTime</td>
        <td>@Model.ProductionEventList.TotalFitting1Que</td>
    </tr>
    <tr>
        <td>Evert 2</td>
        <td>@Model.ProductionEventList.TotalFitting2CykelTime</td>
        <td>@Model.ProductionEventList.TotalFitting2Que</td>
    </tr>
    <tr>
        <td>Pressa</td>
        <td>@Model.ProductionEventList.TotalAssemblyCykelTime</td>
        <td>@Model.ProductionEventList.TotalAssemblyQue</td>
    </tr>
    <tr>
        <td><strong>Total:</strong></td>
        <td><strong>@Model.ProductionEventList.TotalOrderCykelTime</strong></td>
        <td><strong>@Model.ProductionEventList.TotalOrderQue</strong></td>
    </tr>
</table>
<br/>
<h4 id="table-h4">Brema</h4>
<h5 id="table-h5">Dødtid: @Model.ProductionEventList.TotalDrillingQue</h5>
<table class="content-table" id="dataTable2">
    <thead>
    <tr>
        <th>Event ID</th>
        <th>Production ID (skap)</th>
        <th>Hendelsestype</th>
        <th>Maskin</th>
        <th>Operasjonstid</th>
        <th>Cykeltid</th>
        <th>Køtid/Dødtid</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    @foreach (Event productionEvent in Model.ProductionEventList.DrillingEvents)
    {
        <tr>
            <td>@productionEvent.Id</td>
            <td>@productionEvent.ProductionId</td>
            <td>@productionEvent.EventType</td>
            <td>@productionEvent.Maskin</td>
            <td>
                @if (productionEvent.OpAndCykAsTimeSpan.Count != 0)
                {
                    @productionEvent.OpAndCykAsTimeSpan[0]
                }
            </td>
            <td>
                @if (productionEvent.OpAndCykAsTimeSpan.Count != 0)
                {
                    @productionEvent.OpAndCykAsTimeSpan[1]
                }
            </td>
            <td>@productionEvent.Que</td>
            <td>production comment</td>
        </tr>
    }
</table>
<br/>
<h4 id="table-h4">Evert 1</h4>
<h5 id="table-h5">Dødtid: @Model.ProductionEventList.TotalFitting1Que</h5>
<table class="content-table" id="dataTable3">
    <thead>
    <tr>
        <th>Event ID</th>
        <th>Production ID (skap)</th>
        <th>Hendelsestype</th>
        <th>Maskin</th>
        <th>Operasjonstid</th>
        <th>Cykeltid</th>
        <th>Køtid/Dødtid</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    @foreach (Event productionEvent in Model.ProductionEventList.Fitting1Events)
    {
        <tr>
            <td>@productionEvent.Id</td>
            <td>@productionEvent.ProductionId</td>
            <td>@productionEvent.EventType</td>
            <td>@productionEvent.Maskin</td>
            <td>
                @if (productionEvent.OpAndCykAsTimeSpan.Count != 0)
                {
                    @productionEvent.OpAndCykAsTimeSpan[0]
                }
            </td>
            <td>
                @if (productionEvent.OpAndCykAsTimeSpan.Count != 0)
                {
                    @productionEvent.OpAndCykAsTimeSpan[1]
                }
            </td>
            <td>@productionEvent.Que</td>
            <td>production comment</td>
        </tr>
    }
</table>
<br/>
<h4 id="table-h4">Evert 2</h4>
<h5 id="table-h5">Dødtid: @Model.ProductionEventList.TotalFitting2Que</h5>
<table class="content-table" id="dataTable4">
    <thead>
    <tr>
        <th>Event ID</th>
        <th>Production ID (skap)</th>
        <th>Hendelsestype</th>
        <th>Maskin</th>
        <th>Operasjonstid</th>
        <th>Cykeltid</th>
        <th>Køtid/Dødtid</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    @foreach (Event productionEvent in Model.ProductionEventList.Fitting2Events)
    {
        <tr>
            <td>@productionEvent.Id</td>
            <td>@productionEvent.ProductionId</td>
            <td>@productionEvent.EventType</td>
            <td>@productionEvent.Maskin</td>
            <td>
                @if (productionEvent.OpAndCykAsTimeSpan.Count != 0)
                {
                    @productionEvent.OpAndCykAsTimeSpan[0]
                }
            </td>
            <td>
                @if (productionEvent.OpAndCykAsTimeSpan.Count != 0)
                {
                    @productionEvent.OpAndCykAsTimeSpan[1]
                }
            </td>
            <td>@productionEvent.Que</td>
            <td>production comment</td>
        </tr>
    }
</table>
<br/>
<h4 id="table-h4">Pressa</h4>
<h5 id="table-h5">Dødtid: @Model.ProductionEventList.TotalAssemblyQue</h5>
<table class="content-table" id="dataTable5">
    <thead>
    <tr>
        <th>Event ID</th>
        <th>Production ID (skap)</th>
        <th>Hendelsestype</th>
        <th>Maskin</th>
        <th>Operasjonstid</th>
        <th>Cykeltid</th>
        <th>Køtid/Dødtid</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    @foreach (Event productionEvent in Model.ProductionEventList.AssemblyEvents)
    {
        <tr>
            <td>@productionEvent.Id</td>
            <td>@productionEvent.ProductionId</td>
            <td>@productionEvent.EventType</td>
            <td>@productionEvent.Maskin</td>
            <td>
                @if (productionEvent.OpAndCykAsTimeSpan.Count != 0)
                {
                    @productionEvent.OpAndCykAsTimeSpan[0]
                }
            </td>
            <td>
                @if (productionEvent.OpAndCykAsTimeSpan.Count != 0)
                {
                    @productionEvent.OpAndCykAsTimeSpan[1]
                }
            </td>
            <td>@productionEvent.Que</td>
            <td>production comment</td>
        </tr>
    }
</table>
<br/>
<h4 id="table-h4">Other/undefined</h4>
<h5 id="table-h5">Dødtid: no data</h5>
<table class="content-table" id="dataTable6">
    <thead>
    <tr>
        <th>Event ID</th>
        <th>Production ID (skap)</th>
        <th>Hendelsestype</th>
        <th>Maskin</th>
        <th>Operasjonstid</th>
        <th>Cykeltid</th>
        <th>Køtid/Dødtid</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    @foreach (Event productionEvent in Model.ProductionEventList.OtherOrUndefinedEvents)
    {
        <tr>
            <td>@productionEvent.Id</td>
            <td>@productionEvent.ProductionId</td>
            <td>@productionEvent.EventType</td>
            <td>@productionEvent.Maskin</td>
            <td>
                @if (productionEvent.OpAndCykAsTimeSpan.Count != 0)
                {
                    @productionEvent.OpAndCykAsTimeSpan[0]
                }
            </td>
            <td>
                @if (productionEvent.OpAndCykAsTimeSpan.Count != 0)
                {
                    @productionEvent.OpAndCykAsTimeSpan[1]
                }
            </td>
            <td>@productionEvent.Que</td>
            <td>production comment</td>
        </tr>
    }
</table>
</div>

<script>
</script>
