@model Straisimulator.ViewModels.ResultaterViewModel
@{
    ViewData["Title"] = "Resultater";
}

<br/>
<h4>Resultater Strai Kjøkken</h4>
<br/>

<container>
	
	<table class="table table-bordered table-hover" style="width:100%">
    		<thead>
            		<tr>
                          <th scope="col">Brema</th>
                          <th scope="col">Product ID</th>
                          <th scope="col">Name</th>
            			<th scope="col">Operasjonstid (sekunder)</th>
	                    <th scope="col">Syklustid (sekunder)</th>
	                    <th scope="col">Køtid Brema (sekunder)</th>
                        </tr>
            		</thead>
    		<tbody>
    		@foreach (SkapVegg skapVegg in Model.Skap)
    		{
    			<tr class="table-default">
    				<td>
                    					
    				</td>
    				<td style="text-align: center">
    					@skapVegg.Id
    				</td>
    				<td style="text-align: left">
    					@skapVegg.Description
    				</td>
    				<td style="text-align: right">
    					@skapVegg.OpTimeBrema
    				</td>
				    <td style="text-align: right">
					    @skapVegg.CyTimeBrema
				    </td>

			    </tr>
    		}
    		</tbody>
    	</table>
	
	<table class="table table-bordered table-hover" style="width:100%">
		<thead>
		<tr>
			<th scope="col">Evert 1</th>
			<th scope="col">Product ID</th>
			<th scope="col">Name</th>
			<th scope="col">Operasjonstid (sekunder)</th>
			<th scope="col">Syklustid (sekunder)</th>
			<th scope="col">Køtid Evert1 (sekunder)</th>
		</tr>
		</thead>
		<tbody>
		@foreach (SkapVegg skapVegg in Model.Skap)
		{
			<tr class="table-default">
				<td>

				</td>
				<td style="text-align: center">
					@skapVegg.Id
				</td>
				<td style="text-align: left">
					@skapVegg.Description
				</td>
				<td style="text-align: right">
					@skapVegg.OpTimeEvert1
				</td>
				<td style="text-align: right">
					@skapVegg.CyTimeEvert1
				</td>
			</tr>
		}
		</tbody>
	</table>

	<table class="table table-bordered table-hover" style="width:100%">
		<thead>
		<tr>
			<th scope="col">Evert 2</th>
			<th scope="col">Product ID</th>
			<th scope="col">Name</th>
			<th scope="col">Operasjonstid (sekunder)</th>
			<th scope="col">Syklustid (sekunder)</th>
			<th scope="col">Køtid Evert2 (sekunder)</th>
		</tr>
		</thead>
		<tbody>
		@foreach (SkapVegg skapVegg1 in Model.Skap)
		{
			<tr class="table-default">
				<td>

				</td>
				<td style="text-align: center">
					@skapVegg1.Id
				</td>
				<td style="text-align: left">
					@skapVegg1.Description
				</td>
				<td style="text-align: right">
					@skapVegg1.OpTimeEvert2
				</td>
				<td style="text-align: right">
					@skapVegg1.CyTimeEvert2
				</td>
			</tr>
		}
		</tbody>
	</table>
	
	<table class="table table-bordered table-hover" style="width:100%">
    		<thead>
            		<tr>
                          <th scope="col">Pressa</th>
                          <th scope="col">Product ID</th>
                          <th scope="col">Name</th>
            			<th scope="col">Operasjonstid (sekunder)</th>
	                    <th scope="col">Syklustid (sekunder)</th>
	                    <th scope="col">Køtid Pressa (sekunder)</th>
                    </tr>
            		</thead>
    		<tbody>
    		@foreach (SkapVegg skapVegg in Model.Skap)
    		{
    			<tr class="table-default">
    				<td>
                    					
    				</td>
    				<td style="text-align: center">
    					@skapVegg.Id
    				</td>
    				<td style="text-align: left">
    					@skapVegg.Description
    				</td>
    				<td style="text-align: right">
    					@skapVegg.OpTimeEvert3
    				</td>
				    <td style="text-align: right">
					    @skapVegg.CyTimeEvert3
				    </td>
			    </tr>
    		}
    		</tbody>
    	</table>
</container>
<br/>


<div id="chartContainer1" style="width: 45%; height: 300px;display: inline-block;"></div> 
<div id="chartContainer2" style="width: 45%; height: 300px;display: inline-block;"></div><br/>


